body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
 
  position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40!important;
}
.white-text{
  color: white!important;
}
.header-logo{
  width: 40px;
}
.shadow-t{
  box-shadow: -1px 5px 10px 0px #989898c9;
}
body {
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.my-4.margin-leo{
  margin-bottom: 120px!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(45 45 45)!important;
  background-color: #cbe2ff!important;
}
.card-header{
  font-weight: 400;
    font-size: 24px;
}

.ag-theme-alpine.ag-root-wrapper,.card{
  box-shadow: 1px 6px 6px 2px #0000001a;
}
.side-job{
  background-color: #f8f8f8;
    padding: 15px;
   
}

.theme-job{
  min-height: 500px;
}

.ag-body-viewport.ag-layout-normal.ag-row-no-animation{
  border: 4px solid #f8f8f8!important;
}
.ag-root-wrapper.ag-layout-normal.ag-ltr {
    border: none!important;
}
.ag-theme-alpine .ag-header{
  border-bottom: none!important;
}

.ag-root-wrapper.ag-layout-normal.ag-ltr{
  box-shadow: 3px 4px 7px 1px #0000001c!important;
}